/* // *****************************
// ++++++++++++ SASS +++++++++++
// ***************************** */
/* -------------------- */
/* MINIMAL CSS RESET */
/* -------------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* // *****************************
// +++++++ $VARIABLES ++++++
// ***************************** */
/* // *****************************
   // +++++++ $TIPOGRAFIA ++++++
   // ***************************** */
/* // *****************************
// +++++++ $MIXINS ++++++
// ***************************** */
/* // *****************************
// +++++++ $PLACEHOLDER ++++++
// ***************************** */
/* // *****************************
   // +++++++ $BOTONES ++++++
   // ***************************** */
.boton {
  display: inline-block;
  width: 300px;
  padding: 1rem 2rem;
  color: white;
  background-color: #571b1b;
  border-radius: 3px;
  text-align: center;
}

.boton .icon {
  font-size: 3rem;
}

/* // *****************************
   // +++++++ $ENLACES ++++++
   // ***************************** */
.linksExternos {
  font-size: 1rem;
}

.linksExternos__externo1 {
  font-weight: 900;
}

.linksExternos__externo1:hover {
  font-size: 2rem;
}

.linksExternos__externo1:actived {
  font-size: 2.4rem;
}

.linksExternos__externo2 {
  font-weight: 600;
}

.linksExternos__externo3 {
  font-weight: 300;
}

/* // *****************************
   // +++++++ $MENUS ++++++
   // ***************************** */
input, .desplegable {
  display: none;
}

input:checked ~ .desplegable {
  display: block;
}

/* // *****************************
// +++++++ $FORMULARIOS ++++++
// ***************************** */
/* // *****************************
   // +++++++ $IMAGENES ++++++
   // ***************************** */
/* // *****************************
   // +++++++ $BANNERS ++++++
   // ***************************** */
.bannerPrincipal {
  background: url() no-repeat;
  height: 390px;
}

/* // *****************************
   // +++++++ $GRIDS ++++++
   // ***************************** */
.grid1x3 {
  display: -ms-grid;
  display: grid;
  /* grid-template:150px / auto auto auto;  */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-areas: "menu logo avatar";
}

.grid1x3__menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
}

.grid1x3__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  -ms-grid-column-align: center;
  justify-self: center;
}

.grid1x3__avatar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: avatar;
}

/* // *****************************
   // +++++++ $LAYOUTS ++++++
   // ***************************** */
