/* // *****************************
   // +++++++ $GRIDS ++++++
   // ***************************** */

   .grid1x3{
       display: grid;
       
        /* grid-template:150px / auto auto auto;  */ 
       align-items: center;
       grid-template-areas: 
       ". menu logo avatar .";
    
       
       .grid1x3__menu{
           grid-area: menu;
       }

       .grid1x3__logo{
           grid-area: logo;
           justify-self: center;
       }

       .grid1x3__avatar{
           grid-area: avatar;
           justify-self: end;
        
        }
           
           
       


   }